h1 {
    font-size: 30px;
    text-align: left;
}


article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px#FF5A5F solid;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    display: flex;
    float: right;
    align-items: center;
    font-size: 30px;
    min-width: 60px;
    height: 60px;
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
}
.price_by_night p {
    margin: 5px;
}


.information {
    display: block;
    justify-content: space-between;
    height: 80px;
    border-top: #DDD 1px solid;
    border-bottom: #DDD 1px solid;
    /* padding: 5px 0px; */
}

.information div {
    display: inline-block;
    width: 100px;
}

.information div p {
    margin: 0px;
    text-align: center;
}

.img-guest {
    align-items: center;
    height: 60px;
    margin-bottom: 0px;
    /* width: 100px; */
    /* background-color: #FF5A5F; */
    background-image: url('/images/icon_guest.png');
    background-repeat: no-repeat;
    background-position: center;

    /* background-size: 100px; */
}

.img-bedroom {
    align-items: center;
    height: 60px;
    margin-bottom: 0px;
    /* width: 100px; */
    /* background-color: #FF5A5F; */
    background-image: url('/images/icon_bedroom.png');
    background-repeat: no-repeat;
    background-position: center;

    /* background-size: 100px; */
}

.img-bathrooms {
    align-items: center;
    height: 60px;
    margin-bottom: 0px;
    /* width: 100px; */
    /* background-color: #FF5A5F; */
    background-image: url('/images/icon_bathrooms.png');
    background-repeat: no-repeat;
    background-position: center;

    /* background-size: 100px; */
}